{% extends 'adminbase.html' %}

{% block title %}
Add variants
{% endblock title %}

{% block content %}

<div class="container-fluid pt-4 px-4">
    <div class="bg-light rounded p-4"> 
        <h3>Add Variant</h3>
        <div class="col-8 ">
            <form method='post' action="add_variant" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group row">
                    <label for="colFormLabel" class="col-sm-3 col-form-label">Product</label>
                    <div class="col-sm-8">
                      <select name="product" class="form-select shadow p-1 mb-1 bg-white rounded" aria-label="Default select example">
                        <option selected>Not selected</option>
                        {% for product in products %}
                        <option value="{{product.product_name}}"> {{product.product_name}} </option>
                        {% endfor %}
                      </select>
                    </div>
                </div>
               
                <div class="form-group row">
                    <label for="exampleFormControlTextarea1" class="col-sm-3 col-form-label">Stock</label>
                    <div class="col-sm-8">
                        <input type="text" name="stock" class="form-control" id="colFormLabel" placeholder="stock" >
                    </div>
                </div>  
                <div class="form-group row">
                    <label for="colFormLabel" class="col-sm-3 col-form-label">Size</label>
                    <div class="col-sm-8">
                      <select name="size" class="form-select shadow p-1 mb-1 bg-white rounded" aria-label="Default select example">
                        <option selected>Not selected</option>
                        {% for size in sizes %}
                        <option value="{{size.size}}"> {{size.size}} </option>
                        {% endfor %}
                      </select>
                    </div>
                </div> 
            
             
                
            
                <div>
                    {% for message in messages %}
                    <p style="color: red">
                        {{message}}
                    </p>
                    {% endfor %}
                </div>
                <input type="submit" value="Add" name="add_variant">
            </form>
          
        </div>
    </div>
</div>



     

{% endblock content %}