{% extends 'adminbase.html' %}

{% block title %}
edit variants
{% endblock title %}

{% block content %}

<div class="container-fluid pt-4 px-4">
    <div class="bg-light rounded p-4"> 
        <h3>Add Variant stock</h3>
        <div class="col-8 ">
            <form method='post' action="" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group row">
                    <label for="exampleFormControlTextarea1" class="col-sm-3 col-form-label">Stock</label>
                    <div class="col-sm-8">
                        <input type="text" name="stock" class="form-control" id="colFormLabel" placeholder="Enter the Quantity you want to add" required=required>
                    </div>
                </div> 
                <div>
                    {% for message in messages %}
                    <p style="color: red">
                        {{message}}
                    </p>
                    {% endfor %}
                </div>
                <input type="submit" value="Add" name="">
            </form>
        </div>
        <div class="container-fluid pt-4 px-4">
            <h6 class="mb-0">Current Stock</h6>
            <p>{{variant.variant_stock}}</p>
        </div>
    </div>
</div>



     

{% endblock content %}