{% extends 'adminbase.html' %}

{% block title %}
Add Products
{% endblock title %}

{% block content %}

<div class="container-fluid pt-4 px-4">
    <div class="bg-light rounded p-4"> 
        <h3>Add Products</h3>
        <div class="col-8 ">
            <form method='post' action="add_product" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group row">
                    <label for="colFormLabel" class="col-sm-3 col-form-label">Product Name</label>
                    <div class="col-sm-8">
                        <input type="text" name="product_name" class="form-control" id="colFormLabel" placeholder="Name" >
                    </div>
                </div> 
                <div class="form-group row">
                    <label for="exampleFormControlTextarea1" class="col-sm-3 col-form-label">Product description</label>
                    <div class="col-sm-8">
                        <textarea class="form-control" name="description" id="exampleFormControlTextarea1" rows="3" ></textarea>
                    </div>
                </div>  
                <div class="form-group row">
                    <label for="colFormLabel" class="col-sm-3 col-form-label">Brand</label>
                    <div class="col-sm-8">
                      <select name="brand" class="form-select shadow p-1 mb-1 bg-white rounded" aria-label="Default select example">
                        <option selected>Not selected</option>
                        {% for brand in brands %}
                        <option value="{{brand.brand_name}}"> {{brand.brand_name}} </option>
                        {% endfor %}
                      </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="colFormLabel" class="col-sm-3 col-form-label">Sport</label>
                    <div class="col-sm-8">
                      <select name="sport" class="form-select shadow p-1 mb-1 bg-white rounded" aria-label="Default select example">
                        <option selected>Not selected</option>
                        {% for sport in sports %}
                        <option value="{{sport.sport_name}}"> {{sport.sport_name}} </option>
                        {% endfor %}
                      </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="colFormLabel" class="col-sm-3 col-form-label">Category</label>
                    <div class="col-sm-8">
                      <select name="category" class="form-select shadow p-1 mb-1 bg-white rounded" aria-label="Default select example">
                        <option selected>Not selected</option>
                        {% for category in categories %}
                        <option value="{{category.category_name}}"> {{category.category_name}} </option>
                        {% endfor %}
                      </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="colFormLabel" class="col-sm-3 col-form-label">Gender</label>
                    <div class="col-sm-8">
                      <select name="gender" class="form-select shadow p-1 mb-1 bg-white rounded" aria-label="Default select example">
                        {% for gender_choice in Products.GENDER_CHOICES %}
                            <option value="{{ gender_choice.0 }}">{{ gender_choice.1 }}</option>
                        {% endfor %}
                      </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="exampleFormControlTextarea1" class="col-sm-3 col-form-label">Product price</label>
                    <div class="col-sm-8">
                        <input type="text" name="price" class="form-control" id="colFormLabel" placeholder="price" >
                    </div>
                </div>
                <div class="form-group row">
                    <label for="exampleFormControlTextarea1" class="col-sm-3 col-form-label">Product color</label>
                    <div class="col-sm-8">
                        <input type="text" name="color" class="form-control" id="colFormLabel" placeholder="color" >
                    </div>
                </div>    
                <div class="form-group row">
                    <label for="exampleFormControlTextarea1" class="col-sm-3 col-form-label">Product type</label>
                    <div class="col-sm-8">
                        <input type="text" name="product_type" class="form-control" id="colFormLabel" placeholder="type" >
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-3 col-form-label">Thumbnail Image</label>
                    <div class="col-sm-8">
                        <input type="file" name="image" name="image" id="image" onchange="previewImage(event)" accept="image/*" class="form-control-file shadow p-1 mb-1 bg-white rounded" >
                        <br>
                        <img src="#" id="image-preview" style="display:none;  height:100px; width:auto;">
                        <br>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-3 col-form-label"> Images</label>
                    <div class="col-sm-8">
                        <input type="file"   name="images" multiple class="form-control-file shadow p-1 mb-1 bg-white rounded" id="inputEmail3">
                    </div>
                </div> 
                <div>
                    {% for message in messages %}
                    <p style="color: red">
                        {{message}}
                    </p>
                    {% endfor %}
                </div>
                <input type="submit" value="Add" name="add_product">
            </form>
          
        </div>
    </div>
</div>

<script>
    function previewImage(event) {
        var preview = document.getElementById('image-preview');
        preview.style.display = "block";
        preview.src = URL.createObjectURL(event.target.files[0]);
    }
</script>


     

{% endblock content %}