{% extends 'adminbase.html' %}

{% block title %}
Banners
{% endblock title %}

{% block content %}
 

<div>
    <nav class="navbar navbar-expand bg-light navbar-light  px-4 py-0">
        <div>
            <form class="d-none d-md-flex ms-4">
                <input class="form-control border-0" type="search" placeholder="Search">
            </form>
        </div>
       
        <div class="container">
            <div class="col-sm-8">
                <a href="{% url 'add_banners' %}" class="btn btn-primary ">Add Banners</a>
            </div>
        </div>
    </nav>   
</div>



<div class="container-fluid pt-4 px-4">
    <div class="bg-light text-center rounded p-4">
        
        <div class="table-responsive">
            <table class="table text-start align-middle table-bordered table-hover mb-0">
                <thead>
                    <tr class="text-dark">
                        <th scope="col">Banner Name</th>
                        <th scope="col">Image</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for banner in banners %}
                    <tr>
                        <td>{{banner.name}}</td>
                        <td><img style="max-width:2em " src="{{banner.banners.url}}"></td>
                        <td>
                            <a href="delete_banner/{{banner.id}}" class="btn btn-danger ">Delete Banner</a>
                        </td>
                    </tr>
                    {% endfor %}
                    
                </tbody>
            </table>
            
        </div>
    </div>
</div>
       


{% endblock content %}

