{% extends 'storebase.html' %}
{% load static %}

{% block title %}
Cart
{% endblock title %}

{% block links %}<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">{% endblock links %}

{% block content %}
	<!-- Shoping Cart -->
	<section class="h-100 gradient-custom">
		<div class="container py-5">
		  <div class="row d-flex justify-content-center my-4">
			<div class="col-md-8">
			  <div class="card mb-4">
				<div class="card-header py-3">
				  <h5 class="mb-0">{{cart.get_cart_items}} items in your cart</h5>
				</div>

				<div class="card-body">
					{% for items in cartitems %}

				
									<td class="column-3"></td>
				  <!-- Single item -->
				  <div class="row">
					<div class="col-lg-3 col-md-12 mb-4 mb-lg-0">
					  <!-- Image -->
					  <div class="bg-image hover-overlay hover-zoom ripple rounded" data-mdb-ripple-color="light">
						<img src="{{items.product.product_image.url}}"
						  class="w-100" alt="items.product.product_name" />
						<a href="#!">
						  <div class="mask" style="background-color: rgba(251, 251, 251, 0.2)"></div>
						</a>
					  </div>
					  <!-- Image -->
					</div>
	  
					<div class="col-lg-5 col-md-6 mb-4 mb-lg-0">
					  <!-- Data -->
					  <p><strong>{{items.product.product_name}}</strong></p>
					  <p>{{items.product.product_gender}},s {{items.product.product_type}}</p> 
					  <p>Size:{{items.size}}</p>
					  <a href="{% url 'delete_cartitem' id=items.id %}">
					  <button type="button" class="btn btn-danger btn-sm me-1 mb-2" data-mdb-toggle="tooltip"
						title="Remove item">Remove
						
					  </button></a>
					  {% comment %} <button type="button" class="btn btn-danger btn-sm mb-2" data-mdb-toggle="tooltip"
						title="Move to the wish list">
						<i class="fas fa-heart"></i>
					  </button> {% endcomment %}
					  <!-- Data -->
					</div>
	  
					<div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
					  <!-- Quantity -->
					  <div class="d-flex mb-4 cart-item "  data-item-id="{{ items.id }}" style="max-width: 300px">
						<button class="btn btn-danger px-3 me-2 minus-btn"  >
						  <i class="fa fa-minus" aria-hidden="true"></i>
						</button>
	  
						<div class="form-outline">
						  <input type="text" id="quantity" name="quantity" class="form-control input-number text-center ml-1 mr-1 qty-input" value="{{items.product_qty}}" min="1" max="100">
						</div>
	  
						<button id="up" class="btn btn-success px-3 ms-2 plus-btn">
						  <i class="fa fa-plus" aria-hidden="true"></i>
						</button>
					  </div>
					  <!-- Quantity -->
	  
					  <!-- Price -->
					  <p  class="text-start text-md-center">
						<strong>₹</strong> <strong id="sub-total-{{items.id}}"> {{items.get_total}}</strong>
					  </p>	
					  <!-- Price -->
					</div>
				  </div>
				  <!-- Single item -->
				  {% endfor %}
				  {% comment %} <hr class="my-4" /> {% endcomment %}
	
				  <!-- Single item -->
				</div>
			  </div>
			  
			  
			</div>
			<div class="col-md-4">
			  <div class="card mb-4">
				<div class="card-header py-3">
				  <h5 class="mb-0">Summary</h5>
				</div>
				<div class="card-body">
				  <ul class="list-group list-group-flush">
					<li
					  class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
					  Products
					  <span id="cart_total">{{cart.cart_total}}</span>
					</li>
					<li class="list-group-item d-flex justify-content-between align-items-center px-0">
					  Shipping
					  <span>Free</span>
					</li>
					<li
					  class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
					  <div>
						<strong>Total amount</strong>
						
					  </div>
					  <span><strong>{{cart.cart_total}}</strong></span>
					</li>
				  </ul>
	  
				  <a href="{% url 'checkout' %}"><button type="button" class="btn btn-primary btn-lg btn-block">
					Go to checkout
				  </button></a>
				</div>
			  </div>
			</div>
		  </div>
		</div>
	  </section>



	  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

	  <script>
	  $(document).on('click', '.plus-btn, .minus-btn', function() {
		var $cartItem = $(this).closest('.cart-item');
		var itemId = $cartItem.data('item-id');
		var isAdding = $(this).hasClass('plus-btn');
		var $qtyInput = $cartItem.find('.qty-input');
		var quantity = parseInt($qtyInput.val());
	  
		if (isAdding) {
		  quantity += 1;
		} else if (quantity > 1) {
		  quantity -= 1;
		} else {
		  return;
		}
	  
		$.ajax({
		  type: 'POST',
		  url: 'update_cart_quantity',
		  data: {
			item_id: itemId,
			quantity: quantity,
			csrfmiddlewaretoken: '{{ csrf_token }}'
		  },
		  success: function(data) {
			if (data.status === 'error') {
		 
				alert(response.message);
	  
			  $('#message').text(data.message);
			 
			} else {
			  console.log(data);
			  $qtyInput.val(data.quantity);
			  $('#cart_total').text(data.total);
			  $('#sub-total-' + itemId).text(  data.Sub_total);
			  console.log(data.Sub_total)
			 
			  $('#grand_total').text(data.grand_total);
			}
		  },
		  error: function(xhr, textStatus, errorThrown) {
			$('#errorMessage').text('An error occurred while updating the cart.');
			$('#errorModal').modal('show');
		  }
		});
	  });
	  </script>
{% endblock content %}