{% extends 'storebase.html' %}
{% load static %}

{% block title %}
Checkout
{% endblock title %}


{% block content %}

<!-- ##### Breadcumb Area Start ##### -->
<div class="breadcumb_area bg-img" style="">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="page-title text-center">
                    <h2>Checkout</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ##### Breadcumb Area End ##### -->

<!-- ##### Checkout Area Start ##### -->
<div class="checkout_area section-padding-80">
    <div class="container">
    <form  method="post" action="{% url 'place_order' %}">
        {% csrf_token %}
        <div class="row">
                <div class="col-12 col-md-6">
                    <div class="checkout_details_area mt-50 clearfix">
                        <div class="cart-page-heading mb-30">
                            <h5>Billing Address</h5>
                        </div>
                        {% for address in addresses %}
                        <div class="col-md-7">
                            <div class="bg-white card addresses-item mb-4 border border-primary shadow">
                                <div class="gold-members p-4">
                                    <div class="media">
                                        <div class="mr-3">
                                            <i class="icofont-ui-home icofont-3x"></i>
                                        </div>
                                        <div class="media-body">
                                            {% comment %} <h6 class="mb-1 text-secondary">Home</h6> {% endcomment %}
                                            <p style="line-height: 5px;" class="text-black">
                                                <tr>
                                                    {% if address.is_primary %}
                                                    <input type="radio" name="address" value="{{address.id}}" checked/>
                                                    {% else %}
                                                    <input type="radio" name="address" value="{{address.id}}" />
                                                    {% endif %}
                                                    <p style="line-height: 5px;">{{address.first_name}} {{address.last_name}}</p>
                                                    <p style="line-height: 5px;">{{address.house_name}}</p>
                                                    <p style="line-height: 5px;">{{address.street_name}}</p>
                                                    <p style="line-height: 5px;">{{address.city}}, {{address.district}}</p>
                                                    <p style="line-height: 5px;">{{address.pincode}}, {{address.state}}</p>
                                                    <p style="line-height: 5px;">{{address.mobile}}</p>
                                                </tr>
                                            </p>
                                            <p class="mb-0 text-black font-weight-bold">
                                                <a class="text-primary mr-3" data-toggle="modal" data-target="#add-address-modal" href="#">
                                                    <i class="icofont-ui-edit"></i> EDIT
                                                </a> 
                                                <a class="text-danger" ndata-toggle="modal" data-target="#delete-address-modal" href="{% url 'delete_address2' id=address.id %}">
                                                    <i class="icofont-ui-delete"></i> DELETE
                                                </a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    
                         {% endfor %}
                        <a href="add_checkout_address"><button type="button" class="btn essence-btn btn-sm "><i class="fa fa-plus" aria-hidden="true"></i>Add address</button></a>
                    
                    
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-5 ml-lg-auto">
                    <div class="order-details-confirmation">

                        <div class="cart-page-heading">
                            <h5>Your Order</h5>
                            <p>The Details</p>
                        </div>
                        
                            <ul class="order-details-form mb-4">
                                <li><span>Product</span> <span>Total</span></li>
                                {% for items in cartitems %}
                                <li><span>{{items.product.product_name}} x {{items.product_qty}} </span> <span>{{items.get_total}}</span></li>
                                {% endfor %}
                                <li><span>Subtotal</span> <span>{{cart.cart_total}}</span></li>
                                <li><span>Shipping</span> <span>Free</span></li>
                                <li><span>Apply Coupon</span> <span><input type="text" id="form3Examplea2" name="coupon_code" class="form-control form-control-lg" />
                                    </span></li>
                                <li><span>Total</span> <span>{{cart.cart_total}}</span></li>
                            </ul>

                            <div class="cart-page-heading mb-4">
                                <h5>Payment methods</h5>
                            </div>
                            {% for method in Orders.PAYMENT_METHODS %}
                            <div class="form-check mb-4">
                                <label>
                                    <input type="radio"  name="payment_method" value="{{ method.0 }}">
                                        {{ method.1 }}
                                </label> 
                            </div>
                            {% endfor %}
                            <div>
                                    <span> <input type="hidden" name="cart_id" value="{{ cart.id }}"> </span>
                            </div>
                            <button type="submit" class="btn essence-btn" >Place Order</button>
                            
                    </div>
                </div>
        </div>
    </form>
    </div>
</div>
<!-- ##### Checkout Area End ##### -->

<script>
 
    
</script>



		
{% endblock content %}