{% extends 'adminbase.html' %}

{% block title %}
Orders List
{% endblock title %}

{% block content %}
 

<div>
    <nav class="navbar navbar-expand bg-light navbar-light  px-4 py-0">
        <div>
            <form class="d-flex" action="search_product" method="get">
                {% csrf_token %}
                <input class="form-control me-2" type="search" name="searchterm" placeholder="Search order" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
       
      
    </nav>   
</div>



<div class="container-fluid pt-4 px-4">
    <div class="bg-light text-center rounded p-4">
        
        <div class="table-responsive">
            <table class="table text-start align-middle table-bordered table-hover mb-0">
                <thead>
                    <tr class="text-dark">
                        <th scope="col">Order number</th>
                        <th scope="col">User</th>
                        <th scope="col">Payment method</th>
                        <th scope="col">Grand total</th>
                        <th scope="col">Date ordered</th>
                        <th scope="col">Status</th>
                        <th scope="col">Action</th>  
                    </tr>
                </thead>
                <tbody>
                    {% for order in orders %}
                    <tr>
                        <td>{{order.order_id}}</td>
                        <td>{{order.user}} </td>
                        <td>{{order.payment_method}}</td>
                        <td>{{order.grand_total}}</td>
                        <td>{{order.order_date}}</td>
                        <td>{{order.status}}</td>
                        <td>
                            <form action="{%url 'update_orders' order.id%}" method="POST">
                              {% csrf_token %}
                              <div class="">
                                <select name="status" >
                                  <option value="">{{order.status}}</option>
                                 <option value="OrderPending">OrderPending</option>
                                 <option value="Packed">Packed</option>
                                 <option value="Shipped">Shipped</option>
                                 <option value="Delivered">Delivered</option>
                                 <option value="Cancelled">Cancelled</option>
                                </select>
                                 </div>
                        </td>
                        <td >
                            
                            <div class="d-flex justify-content-center">



                                <div class="modal fade" id="statuschange{{i.id}}" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
                                  <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                      <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalToggleLabel{{i.id}}">Change status</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                      </div>
                                      <div class="modal-body">
                
                                        <p> Are you sure about Changing the status of the order. <br></p>
                                        <h4><button class="btn btn-primary">Yes</button></h4>
                                      </form>
                
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <button class="btn btn-primary ml-2" data-bs-target="#statuschange{{i.id}}" data-bs-toggle="modal">Submit</button>
                            </div> 
                          

                        </td> 
                        
                        
                    </tr>
                    {% endfor %}
                    
                </tbody>
            </table>
        </div>
    </div>
</div>
       


{% endblock content %}

