{% extends 'storebase.html' %}
{% load static %}

{% block title %}
  product details
{% endblock title %}

{% block links %}
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.4/dist/sweetalert2.min.css">
{% endblock links %}

{% block content %}
  
    <!-- ##### Single Product Details Area Start ##### -->
    <section class="single_product_details_area d-flex align-items-center">

        <!-- Single Product Thumb -->
        <div class="single_product_thumb clearfix "  >
            <div class="product_thumbnail_slides owl-carousel ">
                {% for img in details.images.all %}
                <img  src="{{img.image.url}}" alt="">
                {% endfor %}
            </div>
        </div>

        <!-- Single Product Description -->
        <div class="single_product_desc clearfix">
            
            <span>{{details.product_brand.brand_name}} </span>
            <a href="cart.html">
                <h2>{{details.product_name}}</h2>
            </a>
            <p class="product-desc">{{details.product_gender}}'s {{details.product_type}}</p>
    
            <p class="product-price"> ₹ {{details.product_price}}</p>
            
            <p class="product-desc">{{details.product_description}}</p>
            
                <div class="dsafs d-flex mt-50 mb-30">
                    <select name="select" id="productSize" class="mr-5">
                        
                        {% for variant in variants %}
                            {% if variant.variant_stock > 0 %}
                                <option id="{{ variant.variant_size.id }}">Size: {{ variant.variant_size.size }}</option>
                            {% else %}
                                <option id="{{ variant.variant_size.id }}" disabled>Size: {{ variant.variant_size.size }} - Out of stock</option>
                            {% endif %}
                        {% empty %}
                            <option value="">SIZE: Information not available</option>
                        {% endfor %}
                    </select>
                    <select name="select" id="productQuantity" class="mr-5">
                        <option value="1">QTY: 1</option>
                        <option value="2">QTY: 2</option>
                        <option value="3">QTY: 3</option>
                        <option value="4">QTY: 4</option>
                        <option value="5">QTY: 5</option>
                        <option value="6">QTY: 6</option>
                        <option value="7">QTY: 7</option>
                        <option value="8">QTY: 8</option>
                        <option value="9">QTY: 9</option>
                        <option value="10">QTY: 10</option>
                    </select>
                </div>

                <!-- Cart & Favourite Box -->
                <div class="cart-fav-box d-flex align-items-center">
                    {% csrf_token %}
                    <!-- Cart -->
                    
                    <button onclick="addToCart({{details.id}})" class="btn essence-btn">Add to cart</button>
                    <!-- Favourite -->
                    <div class="product-favourite ml-4">
                        <a data-product-id="{{ details.id }}" 
                            class="favme fa fa-heart{% if in_wishlist == True %} active{% endif %}" 
                            onclick="addToWishlist({{ details.id }})">
                        </a>
                        {% comment %} <a  onclick="addToWishlist({{details.id}})"class="favme active fa fa-heart "></a> {% endcomment %}
                        
                    </div> 
                </div>
            
        </div>
    </section>
    
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.4/dist/sweetalert2.min.js"></script>



 <script>

    function addToCart() {
        
        var selectElement = document.getElementById("productSize");
        var selectedOptionValue = selectElement.options[selectElement.selectedIndex].id;
        var quantityElement = document.getElementById("productQuantity");
        var selectedQuantity = quantityElement.options[quantityElement.selectedIndex].value;
        console.log(selectedOptionValue);
        console.log(selectedQuantity);
        var productId ={{details.id}}
        console.log(productId)

        {% if user.is_authenticated %}
        $.ajax({
            type: 'POST',
            url: '{% url 'add_to_cart' %}',
            data: {
                'product_id': productId,
                'size':       selectedOptionValue,
                'quantity':   selectedQuantity,
                'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()
            },
            success: function (response) {
                if (response.success) {
                    console.log(response.cart_item_count)
                    $('#cart-item-count').text(response.cart_item_count);
                    Swal.fire('Item added to cart.');
                } else {
                    Swal.fire(response.message);            
                }
            },
            error: function (response) {
                alert('An error occurred while adding the item to the cart.');
            }
            
        });
        {% else %}
            // Prompt the user to log in
            Swal.fire('Please log in to add items to your cart.');

        {% endif %}
    }


    function addToWishlist(productId) {
        var favme = $('a[data-product-id="' + productId + '"]');
        var csrftoken = $('input[name="csrfmiddlewaretoken"]').val();
        console.log(productId)
        $.ajax({
            type: "POST",
            url: "{% url 'toggle_wishlist' %}",
            data: {
                product_id: productId,
                csrfmiddlewaretoken: csrftoken
            },
            success: function(response) {
                if (response.status === 'added') {
                    console.log(productId)
                    favme.addClass('active');
                    Swal.fire('Item added to wishlist.');

                } else if (response.status === 'removed') {
                    favme.removeClass('active');
                    Swal.fire('Item removed from wishlist.');
                }
            }
        });
    }
</script>
    
    <!-- ##### Single Product Details Area End ##### -->


    {% endblock content %}