{% extends 'loginbase.html' %}

{% block title %}
Maxout sports - Verify signup
{% endblock title %}


{% block content %}

<div class="container-xxl position-relative bg-white d-flex p-0">
    <!-- Spinner Start -->
    <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <!-- Spinner End -->


    <!-- Sign In Start -->
    <div class="container-fluid">
        <div class="row h-100 align-items-center justify-content-center" style="min-height: 100vh;">
            <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4">
                <div class="bg-light rounded p-4 p-sm-5 my-4 mx-3">
                    <div class="d-flex align-items-center justify-content-between mb-3">
                        <a href="index.html" class="">
                            <h3 style="color: #fd7e14">MAXOUT</h3>
                        </a>
                        <h3>Verify</h3>
                    </div>
                    <form method="post">{% csrf_token %}
                    <div class="form-floating mb-3">
                        <input type="number" name="otp" class="form-control" id="floatingInput" placeholder="name@example.com" required="required">
                        <label for="floatingInput">Enter OTP</label>
                    </div>
                   
                    <div class="d-flex align-items-center justify-content-between mb-4">
                        
                        <a href="">Resend OTP</a>
                    </div>
                    <button type="submit"  style="background: #fd7e14 ; color: #000" class="btn py-3 w-100 mb-4">Sign In</button>
                    
                </div>
            </form>
            </div>
        </div>
    </div>
    <!-- Sign In End -->
</div>

{% endblock content %}
   

    

