{% extends 'storebase.html' %}
{% load static %}

{% block title %}
Store
{% endblock title %}

{% block links %}

{% endblock links %}

{% block content %}
        

    <!-- ##### Breadcumb Area Start ##### -->
    {% comment %} <div class="breadcumb_area bg-img" style="background-image: url(img/bg-img/breadcumb.jpg);">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="page-title text-center">
                        <h2>dresses</h2>
                    </div>
                </div>
            </div>
        </div>
    </div> {% endcomment %}
    <!-- ##### Breadcumb Area End ##### -->

    <!-- ##### Shop Grid Area Start ##### -->
    <section class="shop_grid_area section-padding-80">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-4 col-lg-3">
                    <div class="shop_sidebar_area">

                        {% comment %} <!-- ##### Single Widget ##### -->
                        <div class="widget catagory mb-50">
                            <!-- Widget Title -->
                            <h6 class="widget-title mb-30">Catagories</h6>

                            <!--  Catagories  -->
                            <div class="catagories-menu">
                                <ul id="menu-content2" class="menu-content collapse show">
                                    <!-- Single Item -->
                                    <li data-toggle="collapse" data-target="#clothing">
                                        <a href="#">clothing</a>
                                        <ul class="sub-menu collapse show" id="clothing">
                                            <li><a href="#">All</a></li>
                                            <li><a href="#">Bodysuits</a></li>
                                            <li><a href="#">Dresses</a></li>
                                            <li><a href="#">Hoodies &amp; Sweats</a></li>
                                            <li><a href="#">Jackets &amp; Coats</a></li>
                                            <li><a href="#">Jeans</a></li>
                                            <li><a href="#">Pants &amp; Leggings</a></li>
                                            <li><a href="#">Rompers &amp; Jumpsuits</a></li>
                                            <li><a href="#">Shirts &amp; Blouses</a></li>
                                            <li><a href="#">Shirts</a></li>
                                            <li><a href="#">Sweaters &amp; Knits</a></li>
                                        </ul>
                                    </li>
                                    <!-- Single Item -->
                                    <li data-toggle="collapse" data-target="#shoes" class="collapsed">
                                        <a href="#">shoes</a>
                                        <ul class="sub-menu collapse" id="shoes">
                                            <li><a href="#">All</a></li>
                                            <li><a href="#">Bodysuits</a></li>
                                            <li><a href="#">Dresses</a></li>
                                            <li><a href="#">Hoodies &amp; Sweats</a></li>
                                            <li><a href="#">Jackets &amp; Coats</a></li>
                                            <li><a href="#">Jeans</a></li>
                                            <li><a href="#">Pants &amp; Leggings</a></li>
                                            <li><a href="#">Rompers &amp; Jumpsuits</a></li>
                                            <li><a href="#">Shirts &amp; Blouses</a></li>
                                            <li><a href="#">Shirts</a></li>
                                            <li><a href="#">Sweaters &amp; Knits</a></li>
                                        </ul>
                                    </li>
                                    <!-- Single Item -->
                                    <li data-toggle="collapse" data-target="#accessories" class="collapsed">
                                        <a href="#">accessories</a>
                                        <ul class="sub-menu collapse" id="accessories">
                                            <li><a href="#">All</a></li>
                                            <li><a href="#">Bodysuits</a></li>
                                            <li><a href="#">Dresses</a></li>
                                            <li><a href="#">Hoodies &amp; Sweats</a></li>
                                            <li><a href="#">Jackets &amp; Coats</a></li>
                                            <li><a href="#">Jeans</a></li>
                                            <li><a href="#">Pants &amp; Leggings</a></li>
                                            <li><a href="#">Rompers &amp; Jumpsuits</a></li>
                                            <li><a href="#">Shirts &amp; Blouses</a></li>
                                            <li><a href="#">Shirts</a></li>
                                            <li><a href="#">Sweaters &amp; Knits</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div> {% endcomment %}

                        <!-- ##### Single Widget ##### -->
                        <div class="widget price mb-50">
                            <!-- Widget Title -->
                            <h6 class="widget-title mb-30">Filter by</h6>
                            <!-- Widget Title 2 -->
                            {% comment %} <p class="widget-title2 mb-30">Price</p>

                            <div class="widget-desc">
                                <div class="slider-range">
                                    <div data-min="1000" data-max="25000" data-unit="₹" class="slider-range-price ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all" data-value-min="1000" data-value-max="25000" data-label-result="Range:">
                                        <div class="ui-slider-range ui-widget-header ui-corner-all"></div>
                                        <span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0"></span>
                                        <span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0"></span>
                                    </div>
                                    <div class="range-price">Range: ₹1000 - ₹25000</div>
                                </div>
                            </div> {% endcomment %}
                        </div> 

                        <!-- ##### Single Widget ##### -->
                        <div class="widget color mb-50">
                            <!-- Widget Title 2 -->
                            <p class="widget-title2 mb-30">Color</p>
                            <div class="widget-desc">
                                <ul class="d-flex">
                                    <ul class="d-flex">
                                        <li><a href="#" onclick="colorFilter('white')" class="color1"></a></li>
                                        <li><a href="#" onclick="colorFilter('grey')" class="color2"></a></li>
                                        <li><a href="#" onclick="colorFilter('black')" class="color3"></a></li>
                                        <li><a href="#" onclick="colorFilter('blue')" class="color4"></a></li>
                                        <li><a href="#" onclick="colorFilter('orange')" class="color5"></a></li>
                                        <li><a href="#" onclick="colorFilter('yellow')" class="color6"></a></li>
                                        <li><a href="#" onclick="colorFilter('red')" class="color7"></a></li>
                                        <li><a href="#" onclick="colorFilter('brown')" class="color8"></a></li>
                                        <li><a href="#" onclick="colorFilter('green')" class="color9"></a></li>
                                        <li><a href="#" onclick="colorFilter('purple')" class="color10"></a></li>
                                    </ul>
                                </ul>
                            </div>
                        </div>
                    
                    </div>
                </div>

                <div class="col-12 col-md-8 col-lg-9">
                    <div class="shop_grid_product_area">
                        <div class="row">
                            <div class="col-12">
                                <div class="product-topbar d-flex align-items-center justify-content-between">
                                    <!-- Total Products -->
                                    <div class="total-products">
                                        <p id="count"><span>{{count}}</span> products found</p>
                                    </div>
                                    <!-- Sorting -->
                                    {% comment %} <div class="product-sorting d-flex">
                                        <p>Sort by:</p>
                                        <form action="" method="get">
                                            <select name="select" id="sortByselect">
                                                <option value="value">Highest Rated</option>
                                                <option value="value">Newest</option>
                                                <option value="value"><a href="?sort=price_desc">Price: $$ - $</a></option>
                                                <option value="value"><a href="?sort=price_asc">Price: $ - $$</a></option>
                                            </select>
                                            <input type="submit" class="d-none" value="">
                                        </form>
                                    </div> {% endcomment %}
                                    <div class="product-sorting d-flex">
                                        <p>Sort by:</p>
                                        <select name="sort" id="sort-select">
                                            <option value="date">Newest</option>
                                            <option value="price_asc">Price: $ - $$</option>
                                            <option value="price_desc">Price: $$ - $</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row" id="product-list">
                            {% for product in products %}
                            <!-- Single Product -->
                            
                            <div class="col-12 col-sm-6 col-lg-4">
                                <a href="{% url 'product_details' id=product.id %}">
                                <div class="single-product-wrapper">
                                    <!-- Product Image -->
                                    
                                    <div class="product-img">
                                        <a href="{% url 'product_details' id=product.id %}">
                                            <img class="img-fluid mx-auto" src="{{product.product_image.url}}" alt="">
                                        </a>
                                    </div>
                                
                                    <!-- Product Description -->
                                    <div class="product-description">
                                        <span>{{product.product_brand.brand_name}}</span>
                                        <a href="{% url 'product_details' id=product.id %}">
                                            <h6>{{product.product_name}}</h6>
                                        </a>
                                        <span>{{product.product_type}}</span>
                                        <p class="product-price">
                                            {% comment %} <span class="old-price">$75.00</span> {% endcomment %}
                                            ₹ {{product.product_price}}
                                        </p>
                                    </div>
                                
                                </div>
                            </div>
                            {% empty %}
                            <h3>No Products Found</h3>
                            {% endfor %}
                        </div>
                    </div>


                    <!-- Pagination -->
                    <nav aria-label="navigation">
                        <ul class="pagination mt-50 mb-70">
                            <li class="page-item"><a class="page-link" href="#"><i class="fa fa-angle-left"></i></a></li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">...</a></li>
                            <li class="page-item"><a class="page-link" href="#">21</a></li>
                            <li class="page-item"><a class="page-link" href="#"><i class="fa fa-angle-right"></i></a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Shop Grid Area End ##### -->
  <script>
    function colorFilter(color) {
        console.log(color);
        
        $.ajax({
            
            url: "{% url 'colorFilter' %}?color=" + color + "&gender={{gender}}&sport_id={{sport_id}}&brand_id={{brand_id}}&category_id={{category_id}}&searchterm={{searchterm}}",
            success: function(data) {
                $('#product-list').html(data);
            }
        });
    }
  </script>


{% endblock content %}
  