{% extends 'storebase.html' %}
{% load static %}

{% block title %}
Wish list
{% endblock title %}

{% block links %}<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">{% endblock links %}

{% block content %}
	<!-- Shoping Cart -->
	
	<section class="h-100 gradient-custom">
		<div class="container py-5">
		  <div class="row d-flex justify-content-center my-4">
			<div class="col-md-8">
			  <div class="card mb-4">
				<div class="card-header py-3">
				  		<h5 class="mb-0"><span  id="cartitems"></span><span> Wish List</span> </h5>
				</div>

				<div class="card-body">
					{% for items in wishlist_items %}

				
									<td class="column-3"></td>
				  <!-- Single item -->
				  <div class="row">
					<div class="col-lg-3 col-md-12 mb-4 mb-lg-0">
					  <!-- Image -->
					  <div class="bg-image hover-overlay hover-zoom ripple rounded" data-mdb-ripple-color="light">
						<img src="{{items.product.product_image.url}}"
						  class="w-100" alt="items.product.product_name" />
						<a href="#!">
						  <div class="mask" style="background-color: rgba(251, 251, 251, 0.2)"></div>
						</a>
					  </div>
					  <!-- Image -->
					</div>
	  
					<div class="col-lg-5 col-md-6 mb-4 mb-lg-0">
					  <!-- Data -->
					  <p><strong>{{items.product.product_name}}</strong></p>
					  <p>{{items.product.product_gender}},s {{items.product.product_type}}</p> 
					  
					  <a href="{% url 'delete_wishlist_item' id=items.id %}">
					  <button type="button" class="btn btn-danger btn-sm me-1 mb-2" data-mdb-toggle="tooltip"title="Remove item">Remove</button></a>
					  {% comment %} <button type="button" class="btn btn-danger btn-sm mb-2" data-mdb-toggle="tooltip"
						title="Move to the wish list">
						<i class="fas fa-heart"></i>
					  </button> {% endcomment %}
					  <!-- Data -->
					</div>
					
					<div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
						<a href="{% url 'product_details' id=items.product.id %}">
							<button class="btn essence-btn">View</button>
						</a>
					</div>
						
					</div>
				  </div>
				  <!-- Single item -->
				  {% endfor %}
	
				  <!-- Single item -->
				</div>
			  </div>
			  
			  
			</div>
			
		  </div>
		</div>
	</section>

{% endblock content %}